* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    border-radius: 22px;
    background-color: #D4F6FF;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 2px;
}

label {
    margin-bottom: 5px;
    letter-spacing: 2px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 11px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6C98F0;
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}